.App {
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
          "header"
            "body";
    grid-template-rows: 50px 10fr;
}
.header{
    grid-area: header;
}
.body{
    grid-area: body;
}
